/* Structure */
    body{
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #121214;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    .struct-container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        width: max-content;
    }

/* Main flow content */
    .main-logo{
        width: 229px;
        height: 68px;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: max-content;
    }

    .title{
        color: white;
        font-size: 2rem;
        font-weight: 600;
        line-height: 41.6px;
        text-align: center;
        cursor: default;
        margin: 0px;
    }


/* User content */
    .perfil-container{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 700px;
        padding: 0px;
        margin: 0px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .perfil{
        height: 195px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .img-container{
        transition: all 250ms ease-in-out;
        margin: 0px;
        width: 160px;
        height: 160px;
        border-radius: 8px;
        overflow: hidden;
    }

    .perfil-img{
        width: 160px;
        height: 160px;
        border-radius: 8px;
        transition: all 300ms ease-in-out;
    }

    .perfil-img-alt{
        transform: scale(1.02);
        transition: all 300ms ease-in-out;
        width: 160px;
        height: 160px;
        border-radius: 8px;
        background-image: url(./img/Frame1.svg);
    }

    .perfil-name{
        transition: all 300ms ease-in-out;
        color: #9C9C9C;
        margin: 0px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }

/* Hover effects and the button */
    .main-logo:hover{
        cursor: pointer;
    }

    .perfil:hover{
        cursor: pointer;
    }

    .perfil:hover .perfil-name{
        color: white;
    }

    .perfil:hover .perfil-img{
        transform: scale(1.3);
    }

    .perfil:hover .img-container{
        outline: 2px solid white;
    }

    .perfil:hover .perfil-img-alt{
        background-image: url(./img/Frame1alt.svg);
    }

    .perfil-button:hover{
        cursor: pointer;
        background-color: white;
        color: #121214;
    }

    .perfil-button{
        transition: all 300ms ease-in-out;
        width: 206px;
        height: 50px;
        border-radius: 8px;
        background-color: #121214;
        color: white;
        border: 1.5px solid white;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
    }
